<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>V</key>
		<integer>-100</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
	</dict>
	<key>anusvaradeva</key>
	<dict>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>cadeva_viramadeva</key>
	<dict>
		<key>cadeva_viramadeva_cadeva</key>
		<integer>-150</integer>
		<key>dhadeva</key>
		<integer>-50</integer>
		<key>lladeva</key>
		<integer>16</integer>
		<key>ngadeva</key>
		<integer>80</integer>
		<key>uni0915094D0937094D0930</key>
		<integer>-20</integer>
	</dict>
	<key>candrabindudeva</key>
	<dict>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>chadeva</key>
	<dict>
		<key>uni092C</key>
		<integer>-10</integer>
	</dict>
	<key>chadeva_viramadeva_nadeva</key>
	<dict>
		<key>uni092C</key>
		<integer>-10</integer>
	</dict>
	<key>chadeva_viramadeva_vadeva</key>
	<dict>
		<key>uni092C</key>
		<integer>-10</integer>
	</dict>
	<key>dadeva_uuvowelsigndeva</key>
	<dict>
		<key>uni0926094D09300941</key>
		<integer>-60</integer>
	</dict>
	<key>ddadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>ddadeva_viramadeva_ddadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>ddadeva_viramadeva_ddhadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>ddadeva_viramadeva_ghadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>ddadeva_viramadeva_nadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>ddadeva_viramadeva_ttadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>ddhadeva_viramadeva_ddhadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>ddhadeva_viramadeva_nadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>dhadeva_viramadeva</key>
	<dict>
		<key>dhadeva</key>
		<integer>-60</integer>
		<key>ngadeva</key>
		<integer>60</integer>
		<key>nnadeva</key>
		<integer>-20</integer>
	</dict>
	<key>dottedcircle</key>
	<dict>
		<key>acutedeva</key>
		<integer>-750</integer>
		<key>aivowelsigndeva</key>
		<integer>-800</integer>
		<key>aivowelsigndeva_anusvaradeva</key>
		<integer>-800</integer>
		<key>anudattadeva</key>
		<integer>-150</integer>
		<key>anusvaradeva</key>
		<integer>-790</integer>
		<key>candrabindudeva</key>
		<integer>-700</integer>
		<key>ecandravowelsigndeva</key>
		<integer>-700</integer>
		<key>eshortvowelsigndeva</key>
		<integer>-700</integer>
		<key>evowelsigndeva</key>
		<integer>-800</integer>
		<key>evowelsigndeva_anusvaradeva</key>
		<integer>-800</integer>
		<key>gravedeva</key>
		<integer>-750</integer>
		<key>nuktadeva</key>
		<integer>-800</integer>
		<key>radeva_viramadeva</key>
		<integer>-800</integer>
		<key>radeva_viramadeva_anusvaradeva</key>
		<integer>-750</integer>
		<key>rrvocalicvowelsigndeva</key>
		<integer>-800</integer>
		<key>rvocalicvowelsigndeva</key>
		<integer>-800</integer>
		<key>udattadeva</key>
		<integer>-800</integer>
		<key>uni09470930094D</key>
		<integer>-800</integer>
		<key>uni09470930094D0902</key>
		<integer>-800</integer>
		<key>uni09480930094D</key>
		<integer>-800</integer>
		<key>uni09480930094D0902</key>
		<integer>-800</integer>
		<key>uni094D09300941</key>
		<integer>-830</integer>
		<key>uni094D09300942</key>
		<integer>-830</integer>
		<key>uuvowelsigndeva</key>
		<integer>-800</integer>
		<key>uvowelsigndeva</key>
		<integer>-800</integer>
		<key>viramadeva</key>
		<integer>-800</integer>
		<key>viramadeva_radeva</key>
		<integer>-830</integer>
	</dict>
	<key>ghadeva_viramadeva</key>
	<dict>
		<key>dhadeva</key>
		<integer>-60</integer>
		<key>ngadeva</key>
		<integer>60</integer>
		<key>nnadeva</key>
		<integer>-20</integer>
	</dict>
	<key>hadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>hadeva_rvocalicvowelsigndeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>hadeva_viramadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-70</integer>
	</dict>
	<key>hadeva_viramadeva_madeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>hadeva_viramadeva_nadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>hadeva_viramadeva_nnadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>hadeva_viramadeva_radeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>hadeva_viramadeva_vadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>ideva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>iideva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>kadeva_viramadeva</key>
	<dict>
		<key>dhadeva</key>
		<integer>-50</integer>
		<key>lladeva</key>
		<integer>-90</integer>
		<key>ngadeva</key>
		<integer>-20</integer>
		<key>nyadeva</key>
		<integer>40</integer>
	</dict>
	<key>khadeva_viramadeva</key>
	<dict>
		<key>lladeva</key>
		<integer>10</integer>
		<key>nyadeva</key>
		<integer>-20</integer>
	</dict>
	<key>padeva_viramadeva</key>
	<dict>
		<key>uni093F</key>
		<integer>30</integer>
	</dict>
	<key>radeva</key>
	<dict>
		<key>vadeva</key>
		<integer>-60</integer>
	</dict>
	<key>radeva_uuvowelsigndeva</key>
	<dict>
		<key>vadeva</key>
		<integer>-60</integer>
	</dict>
	<key>radeva_uvowelsigndeva</key>
	<dict>
		<key>vadeva</key>
		<integer>-60</integer>
	</dict>
	<key>rradeva_viramadeva_hadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>rrvocalicdeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>rvocalicdeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>four</key>
		<integer>-80</integer>
		<key>six</key>
		<integer>-60</integer>
	</dict>
	<key>sixdeva</key>
	<dict>
		<key>twodeva</key>
		<integer>-50</integer>
	</dict>
	<key>ssadeva_viramadeva</key>
	<dict>
		<key>uni093F</key>
		<integer>30</integer>
	</dict>
	<key>udeva</key>
	<dict>
		<key>vadeva</key>
		<integer>-60</integer>
	</dict>
	<key>uni0918094D0930094D</key>
	<dict>
		<key>dhadeva</key>
		<integer>-60</integer>
		<key>ngadeva</key>
		<integer>60</integer>
		<key>nnadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni091A094D091B094D0935</key>
	<dict>
		<key>uni092C</key>
		<integer>-10</integer>
	</dict>
	<key>uni0926094D09170942</key>
	<dict>
		<key>uni0926094D09300941</key>
		<integer>-60</integer>
	</dict>
	<key>uni0926094D09180942</key>
	<dict>
		<key>uni0926094D09300941</key>
		<integer>-60</integer>
	</dict>
	<key>uni0926094D09260942</key>
	<dict>
		<key>uni0926094D09300941</key>
		<integer>-60</integer>
	</dict>
	<key>uni0926094D09270942</key>
	<dict>
		<key>uni0926094D09300941</key>
		<integer>-60</integer>
	</dict>
	<key>uni0926094D09280942</key>
	<dict>
		<key>uni0926094D09300941</key>
		<integer>-60</integer>
	</dict>
	<key>uni0926094D092C0942</key>
	<dict>
		<key>uni0926094D09300941</key>
		<integer>-60</integer>
	</dict>
	<key>uni0926094D092D0942</key>
	<dict>
		<key>uni0926094D09300941</key>
		<integer>-60</integer>
	</dict>
	<key>uni0926094D09300942</key>
	<dict>
		<key>uni0926094D09300941</key>
		<integer>-60</integer>
	</dict>
	<key>uni0926094D09350942</key>
	<dict>
		<key>uni0926094D09300941</key>
		<integer>-60</integer>
	</dict>
	<key>uni0927094D0930094D</key>
	<dict>
		<key>dhadeva</key>
		<integer>-60</integer>
		<key>ngadeva</key>
		<integer>60</integer>
		<key>nnadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0939094D092F</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>uni0939094D0932</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
	<key>uni093E</key>
	<dict>
		<key>uni093F</key>
		<integer>30</integer>
	</dict>
	<key>uudeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-90</integer>
	</dict>
</dict>
</plist>
