<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>V</key>
		<integer>-100</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
	</dict>
	<key>aadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>adeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>aideva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>bhadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>bhadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>cadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>cadeva_viramadeva</key>
	<dict>
		<key>chadeva</key>
		<integer>-40</integer>
		<key>dhadeva</key>
		<integer>-80</integer>
		<key>uni092B</key>
		<integer>-50</integer>
	</dict>
	<key>cadeva_viramadeva_cadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>cadeva_viramadeva_cadeva.alt</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>cadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>dadeva_uuvowelsigndeva</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-110</integer>
		<key>uni0926094D09280941</key>
		<integer>-120</integer>
		<key>uni0926094D09350941</key>
		<integer>50</integer>
	</dict>
	<key>dadeva_uvowelsigndeva</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-90</integer>
	</dict>
	<key>dadeva_viramadeva_madeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>ddadeva_viramadeva_madeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>dhadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>dhadeva_viramadeva</key>
	<dict>
		<key>dhadeva</key>
		<integer>-60</integer>
		<key>nnadeva</key>
		<integer>-100</integer>
		<key>ssadeva</key>
		<integer>-70</integer>
		<key>uni092B</key>
		<integer>-150</integer>
	</dict>
	<key>dhadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>dottedcircle</key>
	<dict>
		<key>aivowelsigndeva</key>
		<integer>-700</integer>
		<key>aivowelsigndeva_anusvaradeva</key>
		<integer>-700</integer>
		<key>anusvaradeva</key>
		<integer>-700</integer>
		<key>candrabindudeva</key>
		<integer>-800</integer>
		<key>ecandravowelsigndeva</key>
		<integer>-700</integer>
		<key>eshortvowelsigndeva</key>
		<integer>-700</integer>
		<key>evowelsigndeva</key>
		<integer>-700</integer>
		<key>evowelsigndeva_anusvaradeva</key>
		<integer>-700</integer>
		<key>nuktadeva</key>
		<integer>-700</integer>
		<key>radeva_viramadeva</key>
		<integer>-700</integer>
		<key>radeva_viramadeva_anusvaradeva</key>
		<integer>-700</integer>
		<key>rrvocalicvowelsigndeva</key>
		<integer>-800</integer>
		<key>rvocalicvowelsigndeva</key>
		<integer>-800</integer>
		<key>udattadeva</key>
		<integer>-800</integer>
		<key>uni09470930094D</key>
		<integer>-700</integer>
		<key>uni09470930094D0902</key>
		<integer>-700</integer>
		<key>uni09480930094D</key>
		<integer>-700</integer>
		<key>uni09480930094D0902</key>
		<integer>-700</integer>
		<key>uni094D09300941</key>
		<integer>-800</integer>
		<key>uni094D09300942</key>
		<integer>-800</integer>
		<key>uuvowelsigndeva</key>
		<integer>-700</integer>
		<key>uvowelsigndeva</key>
		<integer>-700</integer>
		<key>viramadeva</key>
		<integer>-700</integer>
		<key>viramadeva_radeva</key>
		<integer>-800</integer>
	</dict>
	<key>edeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>eightdeva</key>
	<dict>
		<key>ninedeva</key>
		<integer>-80</integer>
	</dict>
	<key>gadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>gadeva_viramadeva_nadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>gadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>ghadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>ghadeva_viramadeva</key>
	<dict>
		<key>dhadeva</key>
		<integer>-60</integer>
		<key>nnadeva</key>
		<integer>-100</integer>
		<key>ssadeva</key>
		<integer>-70</integer>
		<key>uni092B</key>
		<integer>-150</integer>
	</dict>
	<key>ghadeva_viramadeva_nadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>ghadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>jadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>jadeva_viramadeva_jadeva.alt</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>jadeva_viramadeva_nyadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>jadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>jhadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>jhadeva_uvowelsigndeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>jhadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>kadeva_viramadeva</key>
	<dict>
		<key>lladeva</key>
		<integer>-90</integer>
		<key>nyadeva</key>
		<integer>-20</integer>
		<key>thadeva</key>
		<integer>-1</integer>
	</dict>
	<key>kadeva_viramadeva_ssadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>khadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>khadeva_viramadeva</key>
	<dict>
		<key>dhadeva</key>
		<integer>-50</integer>
		<key>nnadeva</key>
		<integer>-50</integer>
		<key>nyadeva</key>
		<integer>-20</integer>
		<key>uni092B</key>
		<integer>-60</integer>
	</dict>
	<key>khadeva_viramadeva_nadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>khadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>madeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>madeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>nadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>nadeva_viramadeva_bhadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>nadeva_viramadeva_madeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>nadeva_viramadeva_nadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>nadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>one</key>
		<integer>-10</integer>
	</dict>
	<key>nnadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>nnadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>nyadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>nyadeva_viramadeva_cadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>nyadeva_viramadeva_jadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>nyadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>ocandravowelsigndeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>padeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>padeva_viramadeva_jhadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>padeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>padeva_viramadeva_tadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>sadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>sadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>sadeva_viramadeva_thadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>eight</key>
		<integer>-50</integer>
		<key>four</key>
		<integer>-30</integer>
		<key>zero</key>
		<integer>-30</integer>
	</dict>
	<key>shadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>shadeva_viramadeva_cadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>shadeva_viramadeva_nadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>shadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>shadeva_viramadeva_vadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>four</key>
		<integer>20</integer>
		<key>seven</key>
		<integer>-30</integer>
	</dict>
	<key>sixdeva</key>
	<dict>
		<key>twodeva</key>
		<integer>-50</integer>
	</dict>
	<key>ssadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>tadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>tadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>tadeva_viramadeva_radeva.alt</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>tadeva_viramadeva_tadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>thadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>thadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0915094D0937094D092E</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0915094D0937094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0915094D0937094D0930</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0917094D0928094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0917094D0930094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0918094D0930094D</key>
	<dict>
		<key>dhadeva</key>
		<integer>-60</integer>
		<key>nnadeva</key>
		<integer>-100</integer>
		<key>ssadeva</key>
		<integer>-70</integer>
		<key>uni092B</key>
		<integer>-150</integer>
	</dict>
	<key>uni091F094D091F094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni091F094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0920094D0920094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0920094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0921094D0921094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0921094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0922094D0922094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0922094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0924094D0930094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0924094D0930094D092F.alt</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0926094D09170942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-110</integer>
		<key>uni0926094D09280941</key>
		<integer>-120</integer>
		<key>uni0926094D09350941</key>
		<integer>50</integer>
	</dict>
	<key>uni0926094D09180941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-90</integer>
	</dict>
	<key>uni0926094D09180942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-110</integer>
		<key>uni0926094D09280941</key>
		<integer>-120</integer>
		<key>uni0926094D09350941</key>
		<integer>50</integer>
	</dict>
	<key>uni0926094D09260941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-90</integer>
	</dict>
	<key>uni0926094D09260942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-110</integer>
		<key>uni0926094D09280941</key>
		<integer>-120</integer>
		<key>uni0926094D09350941</key>
		<integer>50</integer>
	</dict>
	<key>uni0926094D0926094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0926094D09270941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-90</integer>
	</dict>
	<key>uni0926094D09270942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-110</integer>
		<key>uni0926094D09280941</key>
		<integer>-120</integer>
		<key>uni0926094D09350941</key>
		<integer>50</integer>
	</dict>
	<key>uni0926094D0927094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0926094D09280941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-90</integer>
	</dict>
	<key>uni0926094D09280942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-110</integer>
		<key>uni0926094D09280941</key>
		<integer>-120</integer>
		<key>uni0926094D09350941</key>
		<integer>50</integer>
	</dict>
	<key>uni0926094D092C0941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-90</integer>
	</dict>
	<key>uni0926094D092C0942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-110</integer>
		<key>uni0926094D09280941</key>
		<integer>-120</integer>
		<key>uni0926094D09350941</key>
		<integer>50</integer>
	</dict>
	<key>uni0926094D092D0941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-90</integer>
	</dict>
	<key>uni0926094D092D0942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-110</integer>
		<key>uni0926094D09280941</key>
		<integer>-120</integer>
		<key>uni0926094D09350941</key>
		<integer>50</integer>
	</dict>
	<key>uni0926094D092D094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0926094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0926094D09300941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-90</integer>
	</dict>
	<key>uni0926094D09300942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-110</integer>
		<key>uni0926094D09280941</key>
		<integer>-120</integer>
		<key>uni0926094D09350941</key>
		<integer>50</integer>
	</dict>
	<key>uni0926094D0930094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0926094D09350941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-90</integer>
	</dict>
	<key>uni0926094D09350942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-110</integer>
		<key>uni0926094D09280941</key>
		<integer>-120</integer>
		<key>uni0926094D09350941</key>
		<integer>50</integer>
	</dict>
	<key>uni0926094D0935094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0927094D0930094D</key>
	<dict>
		<key>dhadeva</key>
		<integer>-60</integer>
		<key>nnadeva</key>
		<integer>-100</integer>
		<key>ssadeva</key>
		<integer>-70</integer>
		<key>uni092B</key>
		<integer>-150</integer>
	</dict>
	<key>uni0928094D0928094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni092C</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni092C094D091C</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni092C094D0930</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni092F094D0930</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0931094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0932</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0932094D0930</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0936094D0930094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0937094D091F094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0937094D0920094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0937094D0920094D0935</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>uni0938094D0924094D0930</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>vadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>vadeva_viramadeva_hadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
	<key>vadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
